[include]
	path = ~/.gituser
[core]
	editor = vim
[merge]
	tool = vimdiff
[push]
	default = current
[alias]
	commitdiff = log --oneline --graph --all --decorate --abbrev-commit
	st = status
	lg = log
	co = checkout
	sh = show
	df = diff
	dfc = diff --cached
	br = branch
	cm = commit
	cp = cherry-pick
	pm = pull --rebase=false
	fr = pull --rebase=true
	fri = pull --rebase=interactive
	logo = log --oneline
	rias = rebase -i --autosquash
	rbia = rebase -i --autosquash
	rbc = rebase --continue
	rbi = rebase -i
	sm = submodule
	smu = submodule update
	smi = submodule init
[pull]
	ff = only
[color]
	ui = auto
[pager]
    branch = false
